h1 {
    color: red;
    text-align: center;
}

p {
    color: blue;
}

#elso-bekezdes {
    text-align: center;
}

.torzsszoveg {
    margin: 20px 30px;
}

/* .teszt {
    border: 1px green solid;
}

h1, p {
    background-color: indianred;
} */

p.zold {
    color: green;
}