body {
    background: #0080FF;
    color: black;
}

table {
    background: #00A0FF;
    margin: auto;
    width: 50%;
}

td {
    /* border: 1px solid black; */
    text-align: center;
}

tr:last-child td:nth-child(1),
tr:last-child td:nth-child(2) {
    font-size: 120%;
}

img {
    height: 250px;
    border: 2px solid black;
}