body {
    background: darkblue;
}

.title {
    color: white;
    text-align: center;
}

table {
    background: wheat;
    margin: 0 auto;
    width: 90%;
}

table td p {
    padding: 5px;
}

.idezet {
    text-align: right;
}