body {
    margin: auto;
    text-align: center;
}

.szorzotabla {
    margin: auto;
}
.szorzotabla td {
    padding: 10px;
    border: 1px solid black;
    background-color: lightblue;
    border-radius: 3px;
}

button {
    margin: 20px;
}